<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Green Lantern Corps Discord Bot Dashboard</title>
  <link rel="stylesheet" href="./style.css">
</head>

<body>

  <header>
    <nav id="navbar">
      <div class="container">
        <h1><a href="index.html">Green Lantern Corps Discord Bot</a></h1>
        <ul>
          <li><a href="/settings">Settings</a></li>
          <li><a class="current" href="/logs">Server Logs</a></li>
          <li><a href="/infractions">Infractions</a></li>
          <li><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>

    <div id="showcase">
      <div class="container">
        <div class="showcase-content">
          {{#each logs}}
          <div>{{message}}</div>
          <br>
          <hr>
          {{/each}}   
        </div>
      </div>
    </div>

  </header>

  <div class="clr"></div>

  <footer id="main-footer">
    <p>Green Lantern Corps &copy; 2019, All Rights Reserved</p>
  </footer>

</body>

</html>